@page "/"

<PageTitle>BLAZOR .NET 8</PageTitle>

<h1>Blazor .NET 8 - Auto (Server and WebAssembly)</h1>

<strong>This Blazor Project uses Auto Rendering Mode.</strong>
<p>The Home Page is static server-side rendered</p>
