<section style="float:right">
    <ul  class="nav nav-pills">

        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@BackUrl">Back</a>
        </li>
    </ul>
</section>

@code {
    [Parameter]
    public string? BackUrl { get; set; }
}