@rendermode InteractiveAuto

@inject IConfiguration serverConfig

<h3>Auto-Rendered-Component (Client)</h3>
This component is <strong>Auto Rendered</strong>.

<p>@config</p>

<button @onclick="UpdateMessage">Click me</button> @message

@code {
    private string? config = "";
    private string message = "Not clicked yet.";

    protected override void OnInitialized()
    {
        config = serverConfig.GetValue<string>("ServerConfiguration");
    }

    private void UpdateMessage()
    {
        message = "Somebody clicked me!";
    }
}
